.card {
	width: 100%;
	height: 100%;

	--animation-duration: 0.5s;
}

@media (width < 600px) {
	.card {
		--animation-duration: 0.3s;
	}
}

.card:not(.open) {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

.card .container-decor {
	width: var(--card-width);
	height: var(--card-height);

	overflow: hidden;

	background-color: var(--surface-container-color);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);

	transition: box-shadow 0.2s, translate var(--animation-duration), width var(--animation-duration),
		height var(--animation-duration);
}

@media (prefers-reduced-motion: reduce) {
	.card .container-decor {
		transition: none;
	}
}

.card:not(.open):focus-visible {
	outline: none;
}

.card:not(.open):focus-visible .container-decor {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

@media (hover: hover) {
	.card:not(.open):hover .container-decor {
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
	}
}

.card.open .container-decor {
	position: absolute;
	translate: calc(50vw - 50% - var(--card-left)) calc(50vh - 50% - var(--card-top));

	--container-width: min(90vw, 600px);
	--container-height: 85vh;
	width: var(--container-width);
	height: var(--container-height);

	box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

@supports (height: 100dvh) {
	.card.open .container-decor {
		translate: calc(50dvw - 50% - var(--card-left)) calc(50dvh - 50% - var(--card-top));
		--container-height: 85dvh;
	}
}

.card .container {
	display: grid;
	grid-template-rows: min-content auto min-content;
	gap: 1em;

	width: var(--card-width);
	height: var(--card-height);

	color: var(--on-surface-color);

	padding: 2em;
	/* transition: padding var(--animation-duration); */
}

.card.open .container {
	gap: 2em;

	/* padding: 4em; */
	width: var(--container-width);
	height: var(--container-height);
	overflow: auto;

	/* mask-image: linear-gradient(black calc(100% - 3rem), transparent); */
}

@media (width < 500px) {
	.card.open .container {
		padding: 2em;
	}
}

.card .overlay {
	position: fixed;
	inset: 0;
	opacity: 0;
	background-color: black;
	pointer-events: none;

	transition: var(--animation-duration);
}

@media (prefers-reduced-motion: reduce) {
	.card .overlay {
		transition: none;
	}
}

.card.open .overlay {
	opacity: 0.2;
	pointer-events: unset;
}

.card .title {
	font-size: 1.2em;
	font-weight: 500;
}

.card.open .title {
	font-size: 1.4em;
}

.card .description {
	color: var(--on-surface-color);
	background-color: var(--surface-container-color);
	overflow-wrap: anywhere;
}

.card:not(.open) .description {
	overflow: hidden;
}

/* @media (prefers-reduced-motion: no-preference) {
	.card.open .description {
		animation: fade-out var(--animation-duration);
	}
}

@keyframes fade-out {
	50% {
		opacity: 0;
		translate: 0px -1em;
	}
	51% {
		opacity: 0;
		translate: 0px 1em;
	}
} */

.card .tags {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}

.card .tag {
	padding: 0.2em 1.2em;
	border-radius: 1em;
	color: var(--on-primary-color);
	background-color: var(--primary-color);
}
