.contributions h2 {
	color: var(--on-surface-color);
}

.contributions .contributions-container {
	display: grid;
	grid-template-columns: repeat(3, 350px);
	grid-auto-rows: 200px;
	gap: 1em;
}

@media (width < 1000px) {
	.contributions .contributions-container {
		grid-template-columns: repeat(2, 350px);
	}
}

@media (width < 800px) {
	.contributions .contributions-container {
		grid-template-columns: repeat(1, min(300px, 90vw));
		grid-auto-rows: 250px;
	}
}
