.main-description {
	display: grid;
	gap: 2em;
}

.main-description > .i-m-tony {
	color: var(--on-surface-color);
	text-align: center;
	margin: 0;
}

.main-description > .card {
	width: 500px;
	height: 100px;
}

@media (width < 500px) {
	.main-description > .card {
		width: min(300px, 90vw);
		height: 120px;
	}
}

/* .main-description > .card .container {
    padding: 1em;
} */

.main-description > .card:not(.open) .container {
	text-align: center;
	gap: 0;
}
