.main-description {
	display: grid;
	gap: 2em;
}

.main-description > .i-m-tony {
	color: var(--on-surface-color);
	text-align: center;
	margin: 0;
}

.main-description > .card {
	width: 25em;
	height: 6em;
}

@media (width < 500px) {
	.main-description > .card {
		width: min(20em, 90vw);
		height: 7em;
	}
}

/* .main-description > .card .container {
    padding: 1em;
} */

.main-description > .card:not(.open) .container {
	text-align: center;
	gap: 0;
}
