.projects h2 {
	color: var(--on-surface-color);
}

.projects .projects-container {
	display: grid;
	grid-template-columns: repeat(3, 350px);
	grid-template-rows: repeat(4, 250px);
	gap: 1em;
}

@media (width < 1000px) {
	.projects .projects-container {
		grid-template-columns: repeat(2, 350px);
	}
}

@media (width < 800px) {
	.projects .projects-container {
		grid-template-columns: repeat(1, min(300px, 90vw));
	}
}

.project {
	/* overflow: hidden; */
}
